---
import BaseLayout from '../layouts/BaseLayout.astro'

const title = "About"
---

<BaseLayout title={title}>
  <section class="max-w-3xl mx-auto py-16 px-4">
    <h1 class="text-4xl font-bold mb-6">About Me</h1>
    
    <p class="mb-4 text-lg">
      I’m Pablo, a freelance Analytical Chemist with +15 years of experience in precise, quality-focused chemical analysis.
      I specialize in atomic spectroscopy, trace metal analysis, and method validation for complex matrices — especially in the battery materials, nanomedicine, environmental, and radiochemistry sectors.
    </p>

    <p class="mb-4 text-lg">
      I’ve worked in state-of-the-art labs and have led analytical projects from method development to reporting. Now I help companies who need top-quality results
      but don’t want to build a full in-house team.
    </p>

    <p class="mb-4 text-lg">
      I combine deep technical skills with sharp communication and reliable delivery. My work is thorough, well-documented, and tailored to your needs.
    </p>

    <p class="mb-4 text-lg">
      Whether you need support on a short-term project or ongoing collaboration, I’m here to make your data rock-solid.
    </p>
        <a
      href="/CV Chem Pablo.pdf"
      download
      class="inline-block mt-4 bg-gray-800 text-white px-4 py-3 rounded-xl font-semibold hover:bg-gray-900 transition"
    >
      Download Resume
    </a>
    <a href="/contact" class="inline-block mt-6 bg-blue-700 text-white px-4 py-3 rounded-xl font-semibold hover:bg-blue-800 transition">
      Let’s work together
    </a>

  </section>
</BaseLayout>
